nav {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
}

.nav-item {
  border: 1px solid darkgray;
  padding: 5px;
  background: lightgray;
  margin: 5px;
  width: 50%;
  text-align: center;
}

.nav-item:hover {
  cursor: pointer;
  background: darkgray;
}

.selected {
  font-weight: bolder;
}

.unselected {
  font-weight: normal;
  background: #e3e3e3;
}
